:root{
  --font: 'Poppins', sans-serif;
  --color-background: #DEE1F3;
  --color-text-input: #424242;
  --color-navigate: #2979FF;
  --color-text-gray: #a1a1a1;
  --color-body: #F8F9FF;
  --color-text-banner: #474747;
  --color-white: #ffff;
  --color-title: #061469;
  --color-card-content: #9A9A9A;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: var(--font);
  width: 100%;
  background-color: var(--color-body);
}
