@tailwind base;
@tailwind components;
@tailwind utilities;


.managerItems{
    @apply flex justify-between mb-3;
}

.Table{
    margin: 0 auto;
    margin-top: 30px;
    width: 90%;
    @apply table-fixed;
}

.tableItems{
    @apply px-2 py-2 text-lg;
}

.Icon{
    margin: 0 auto;
}

.avatar{
    margin: 0 auto;
}